body {
    background-color: pink;
    display:flex;
    justify-content: center;
}


.box{
    width: 500px;
    height: 600px;
    border: 1px grey solid;
    margin-top: 10%;
    border-radius: 10%;
    background-color: whitesmoke;

}
.title{
    margin-top: 7%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.formulario{
    margin: 5px;
    font-size:medium;
}
